[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/pkestene/spdlog.git
	branch = fix_nvcc
[submodule "kokkos"]
	path = external/kokkos
	url = https://github.com/kokkos/kokkos.git
	branch = develop
[submodule "external/backward-cpp"]
	path = external/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "external/SphinxExtensions/breathelink"]
	path = external/SphinxExtensions/breathelink
	url = https://github.com/thewtex/breathelink.git
[submodule "external/SphinxExtensions/breathe"]
	path = external/SphinxExtensions/breathe
	url = https://github.com/michaeljones/breathe
[submodule "external/SphinxExtensions/gitstats"]
	path = external/SphinxExtensions/gitstats
	url = https://github.com/arnaudgelas/gitstats.git
[submodule "external/SphinxExtensions/sphinx-bootstrap-theme"]
	path = external/SphinxExtensions/sphinx-bootstrap-theme
	url = https://github.com/ryan-roemer/sphinx-bootstrap-theme